.internal1 {
    color: blue;
    text-align: center;
    font-family: Tahoma , Arial , sans-serif
}
.internal2 {
    color: red;
    text-align: center;
    font-family: Tahoma , Arial , sans-serif
}